<tr class='{{"calendar-body__member "  + THEMES[teamIndex % THEMES.length][0]}}'>
  <td class="team team--member calendar-body__cell">
    <span class="team__name">{{ member?.name }}</span>
  </td>


  <app-cells [allDays]="allDays"></app-cells>



  <!-- { -->
  <!-- (isPaidCell || isUnPaidCell) && <div className={classnames({ -->
  <!-- "cell-vacations": true, -->
  <!-- "cell-vacations--paid": isPaidCell, -->
  <!-- "cell-vacations--unpaid": isUnPaidCell, -->
  <!-- "cell-vacations--start-vac": isStartDay, -->
  <!-- "cell-vacations--end-vac": isEndDay, -->
  <!-- "cell-vacations--unpaid-start-vac": isUnPaidCell && isStartDay,  -->
  <!-- "cell-vacations--unpaid-end-vac": isUnPaidCell && isEndDay -->
  <!-- }) -->
  <!-- }>Pd</div> } -->


  <td class="calendar-body__cell cell-gray">4</td>

</tr>