
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-calendar-primary: mat-palette($mat-indigo);
$angular-calendar-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-calendar-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-calendar-theme: mat-light-theme((
  color: (
    primary: $angular-calendar-primary,
    accent: $angular-calendar-accent,
    warn: $angular-calendar-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-calendar-theme);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import './variables';

@import './sub_modules/button';
@import './sub_modules/cells';
@import './sub_modules/users';
@import './sub_modules/weekend-percent';

html {
  box-sizing: border-box;
  font-size: $main-fz;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  color: $main-color;
  line-height: $main-line-height;
}

// start reset CSS

h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  border: none;
}

button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

textarea {
  resize: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 $main-padding;
  max-width: $main-width;
}

h4,
h5 {
  line-height: 22px;
}
h4 {
  font-size: 16px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}


.calendar {
  padding-top: 35px;
  padding-bottom: 35px;

  &__summary {
    margin-top: 29px;
  }
}

@import './themes';

