<div class="calendar">

  <div class="container">
    
    <div class="calendar-nav">NAVIGATION!!!</div>

    <table class="calendar-table">
      
      <thead class="calendar-header">
        <tr>
        <td>
          HEADER
        </td>  
      </tr>
      </thead>
      
      <tbody class="calendar-body">
        <tr>
          <td>
            BODY
          </td>  
        </tr>
      </tbody>

      <tfoot class="calendar-footer">
        <tr>
          <td>
            FOOTER
          </td>  
        </tr>
      </tfoot>
    
    </table>
  </div>

</div>