<table class="calendar-table">

  <thead class="calendar-header">
    <tr class="calendar-header__row">
      <th class="calendar-header__cell">
        <!-- CLICK OPEN_MODAL -->
        <button class="button button--icon-plus button--primary" (click)="openModal()">Add vacation</button>
      </th>

      <th *ngFor="let date of allDays" [ngClass]="{
        'calendar-header__cell': true, 
        'cell-gray': isWeekend(date)
    }">
        <span class="calendar-header__day">{{ date | date:"EEEEEE" }}</span>
        <span class="calendar-header__number">{{ date | date:"d" }}</span>
      </th>

      <th class="calendar-header__cell cell-gray"> Sum </th>
    </tr>
  </thead>


  <tbody class="calendar-body">
    <ng-container *ngFor="let team of teams; let teamIndex = index">
      <tr [class]="'calendar-body__team calendar-table--indentation ' + [ this.getTheme(teamIndex)[0], this.getTheme(teamIndex)[1] ].join(' ') ">

        <td class="calendar-body__cell calendar-body__cell--team">
          <app-team [team]="team" [allDays]="allDays"> </app-team>
        </td>

        <td *ngFor="let date of allDays" [ngClass]="{
          'calendar-body__cell': false, 
          'cell-gray': isWeekend(date)
        }">
        </td>

        <td class="calendar-body__cell cell-gray"></td>
      </tr>

      <tr *ngFor="let member of team.members" class='{{"calendar-body__member "  + this.getTheme(teamIndex)[0] }}'>
        <td class="calendar-body__cell calendar-body__cell--member member">
          
          <span class="member__name">{{ member.name }}</span>
        </td>
      
        <td *ngFor="let date of allDays; let idx = index" [ngClass]="{
          'calendar-body__cell': true, 
          'cell-gray': isWeekend(date)
        }">

        <div *ngIf="isPaidCell(member.vacations, idx) || isUnPaidCell(member.vacations, idx)" 
        [ngClass]="{
          'cell-vacations': true,
          'cell-vacations--paid': isPaidCellVariables,
          'cell-vacations--unpaid': isUnPaidCellVariables,
          'cell-vacations--start-vac': isStartDay(member.vacations , idx),
          'cell-vacations--end-vac': isEndDay(member.vacations, idx),
          'cell-vacations--unpaid-start-vac': isUnPaidCellVariables && isStartDayVariables,
          'cell-vacations--unpaid-end-vac': isUnPaidCellVariables && isEndDayVariables
        }">Pd</div>

        </td>
      
        <td class="cell-summ calendar-body__cell cell-gray">{{ getSumVacationsDaysByMonth(member.vacations) }}</td>
      
      </tr>

    </ng-container>
  </tbody>

  <tfoot class="calendar-footer calendar-table--indentation">
    <tr class="calendar-footer__row">
      <td class="calendar-footer__cell cell-gray">Day-Person-Stats</td>
      <td *ngFor="let date of allDays; let idx = index" [ngClass]="{
        'cell-summ': true, 
        'calendar-footer__cell': true, 
        'cell-gray': isWeekend(date) 
      }">{{ getSumVacationsDaysByDay(idx) }}</td>
      <td class="calendar-footer__cell cell-gray"></td>
    </tr>
  </tfoot>

</table>