@import "mixin";

:host {
  display: contents;
}

.calendar-header {
  .calendar-header__row > .calendar-header__cell {
    &:first-child {
      border-top: 0;
      border-left: 0;
      padding-bottom: 24px;
      width: 260px;
    }

    &:last-child {
      font-weight: 400;
    }
  }
}
